@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,400;1,500&family=Roboto:ital,wght@1,300&display=swap');
:root{
    --main-color: rgb(11, 85, 61);
    --main-secondary-color: rgb(16, 39, 16);
    --primary-color:#15171C;
    --secondary-color:#232933;
    --light-secondary-color:#2E3744;
    --text-color: white;
    --secondary-text-color:#B3B4B6;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--text-color);
}
h1{
    font-size: 100px;
    line-height: 115%;
}
.subheading{
    margin-top: 25px;
    text-align: center;
}